@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
*{
    margin: 0;
    padding: 0;
}

.head{
    height: 50px;
    background: #032c4c;
    color:#fff;
    width: 100%;
    background: #032c4c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar{
    display: flex; 
    gap: 1.2rem;
}
.navbar li{
    display: flex;
    text-decoration: none;
}

/*informacion principal*/
.contenido{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: auto;
    width: 100%;
}
.info h1{
    font-size: 70px;
}
.info h2{
    font-size: 30px;
    color: #032c4c;
}
.info p{
    font-size: 25px;
}
.image{
    margin-right: 60px;
    flex-direction: row;
    height: 400px;
    width: 300px;
}

.Titulo{
    text-align: center;
    font-size: 30px;
    font-family:'Sigmar', cursive;
}
.info h3{
    font-size: 25px;
}
.nombre{
    text-align: center;
    font-family: 'Sigmar', cursive;

}
.descripcion{
    text-align: center;
    font-size: 25px;
    font-family:'Sigmar', cursive;

}
.casa{
    text-align: center;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.tangiro{
    text-align: center;
    font-size: 20px;
    font-family:'Sigmar', cursive; 
}
.tanjiro{
    text-align: center;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.dodoro{
    display: flex;
    justify-content: center;
}
.nezuko{
    display: flex;
    justify-content: space-evenly;
}
.imagen1{
    width: 320px;
    height: 320px;
}
.iman{
  width: 250px;  
}

.foter{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
