*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline; /*Sirve para alinear verticalmente*/
    
}

body {
    font-family: 'Times';
}

.head { /*Estilos de la barra de diseños*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background: gray;
    position: fixed;
    width: 100%;
    z-index: 100;
}

