@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Monomaniac+One&family=Noto+Serif:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}
header{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}
.tittle{
    display: flex;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 2rem;
    font-family: 'Noto Serif', serif;
}
li{
    margin: 1rem;
    font-size: 20px;
    font-weight: 600;
}
.ultitle{
    margin-left: 4rem;
}
.ultitle img{
    width: 3rem;
    height: 3.2rem;
    border-radius: 8px;
    margin: 5px;
    margin-left: 8rem;
}
.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
}
.titles h2{
    font-size: 14px;
}
.getting{
    background: #000;
    color: #fff;
    font-size: 17px;
    padding: 12px;
    border-radius: 5px;
    margin-right: 5rem;
}
.ab{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.abb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.abb h1 {
    font-size: 70px;
    font-weight: 540;
}
.abb h2{
    margin: 30px;
    width: 48rem;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
.abb button{
    background: green;
    color: #fff;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 30px;
    width: 20rem;
    font-size: 18px;
    justify-content: flex-end;
}
.abb h3{
    margin-top: 1.5rem;
    font-size: 14px;
    font-weight: 400;
}